USE [master]
GO
/****** Object:  Database [museum]    Script Date: 18/02/2023 14:46:50 ******/
CREATE DATABASE [museum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'museum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\museum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'museum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\museum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [museum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [museum]
GO
/****** Object:  User [museum]    Script Date: 18/02/2023 14:46:50 ******/
CREATE USER [museum] FOR LOGIN [museum] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [museum]
GO
/****** Object:  Table [dbo].[door]    Script Date: 18/02/2023 14:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[door](
	[id_door] [int] IDENTITY(1,1) NOT NULL,
	[ref_room] [int] NOT NULL,
	[dim_x] [int] NOT NULL,
	[dim_z] [int] NOT NULL,
	[pos_x] [int] NOT NULL,
	[pos_y] [int] NOT NULL,
 CONSTRAINT [PK_door] PRIMARY KEY CLUSTERED 
(
	[id_door] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[museum_user]    Script Date: 18/02/2023 14:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[museum_user](
	[id_user] [int] NOT NULL,
	[ref_role] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 18/02/2023 14:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 18/02/2023 14:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[id_room] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[floor] [int] NOT NULL,
	[dim_x] [int] NOT NULL,
	[dim_y] [int] NOT NULL,
	[dim_z] [int] NOT NULL,
	[pos_x] [int] NOT NULL,
	[pos_y] [int] NOT NULL,
 CONSTRAINT [PK_room] PRIMARY KEY CLUSTERED 
(
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[door]  WITH CHECK ADD  CONSTRAINT [FK_door_room] FOREIGN KEY([ref_room])
REFERENCES [dbo].[room] ([id_room])
GO
ALTER TABLE [dbo].[door] CHECK CONSTRAINT [FK_door_room]
GO
ALTER TABLE [dbo].[museum_user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([ref_role])
REFERENCES [dbo].[role] ([id_role])
GO
ALTER TABLE [dbo].[museum_user] CHECK CONSTRAINT [FK_user_role]
GO
USE [master]
GO
